node_modules/* linguist-vendored=false
public/* linguist-vendored=false
views/* linguist-vendored=false
Procfile linguist-vendored=false
README.md linguist-vendored=false
app.json linguist-vendored=false
package.json linguist-vendored=false
.env linguist-vendored=false
*.ejs linguist-vendored=false
